{% extends '/auth/auth-base.html'%} {% block content %}
<main class="registration-container">
  <div class="registration-wrapper">
    {%include 'logo.html'%}

    <h1>Forgot Password</h1>

    <div class="registration-form-container">
      <form method="POST">
        {{form.hidden_tag()}}
        <div class="input-container">
          <div class="middle-form">
            {{form.email(placeholder=form.email.label.text)}}
          </div>
        </div>

        {{form.submit}}
      </form>

      <p><a href="/login">Back to login.</a></p>
    </div>
    <p id="login-socials-text">Login/Sign up with Socials</p>

    {%include 'social-links.html'%}
  </div>
</main>

{% endblock %}
