<div id="add-project-modal" class="hidden">
  <div class="modal-project-container">
    <h2>Add Project</h2>
    <form
      id="add-project-form"
      method="POST"
      action="/group/{{group.group_link}}/projects/add"
    >
      {{add_project_form.hidden_tag()}} {% for field in add_project_form if
      field.widget.input_type != 'hidden' %} {%for error in field.errors%}
      <p id="error-flashed">{{ error }}</p>
      {%endfor%} {%endfor%}
      {{add_project_form.project_name(placeholder=add_project_form.project_name.label.text,
      class='user-text-input')}}
      {{add_project_form.description(placeholder=add_project_form.description.label.text,
      class='user-text-input')}} {{add_project_form.submit(class="blue-btn")}}
    </form>
  </div>
</div>
