{% extends '/dashboard/pieces/dashboard-base.html'%} {% block content %} {%include '/dashboard/pieces/nav-base.html'%}

<main>
    {%include '/dashboard/pieces/add-group-modal.html'%}

    <div class="main-inner-container">
        <header>
            <div>
                <img src="{{group.group_image}}" />
                <h1>{{group.group_name}} - Edit</h1>
            </div>
            {%include '/dashboard/pieces/search-bar.html'%}
        </header>

        <div class="dashboard-panel-container">
            <section id="dashboard-main">
                {% with messages = get_flashed_messages() %} {% for message in messages %}
                <p class="form-error">{{message}}</p>
                {%endfor%} {%endwith%}

                <div class="upload-image-container">
                    <div class="profile-picture-wrapper">
                        <img src="{{group.group_image}}" class="profile-image" />
                        <img src="/static/images/dashboard/add-photo.png" class="profile-image-hover" />
                    </div>
                    <form id="image-form" method="POST" enctype="multipart/form-data" class="hidden">
                        {{image_form.hidden_tag()}} {{image_form.upload(class='img-input')}} {{image_form.submit(class='blue-btn')}}
                    </form>
                </div>

                <form class="edit-group-form" method="POST">
                    {{edit_group_form.hidden_tag()}} {{edit_group_form.group_name(value=group.group_name, class='')}}
                    {{edit_group_form.submit(class='blue-btn')}}
                </form>

                <div>
                    <form action="/group/{{group.group_link}}/delete" method="POST">
                        <button type="submit" class="red-btn">Delete Group</button>
                    </form>
                </div>

                <a class="fc" href="/group/{{group.group_link}}">
                    <button class="blue-btn">&#8592; Go Back</button>
                </a>
            </section>
        </div>
    </div>
</main>

{%include '/dashboard/pieces/group-bar.html'%}

<script type="text/javascript" src="{{ url_for('static', filename='scripts/modals-3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/group-bar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/nav.js') }}"></script>

<script type="text/javascript">
    $(".profile-image").on("click", function (e) {
        $("#image-form").toggleClass("hidden");
    });
</script>

{% endblock %}
