<div class="social-links-container">
  <a class="facebook-link" href="/facebook">
    <img src="/static/images/auth/facebook.png" />
    <div><span>Continue with&nbsp;</span>Facebook</div>
  </a>
  <a class="twitter-link" href="/twitter">
    <img src="/static/images/auth/twitter.png" />
    <div><span>Continue with&nbsp;</span>Twitter</div>
  </a>
  <a class="google-link" href="/google">
    <img src="/static/images/auth/google.png" />
    <div><span>Continue with&nbsp;</span>Google</div>
  </a>
  <a class="github-link" href="/github">
    <img src="/static/images/auth/github.png" />
    <div><span>Continue with&nbsp;</span>GitHub</div>
  </a>
</div>
