<form id="peer-request-icon" name="peer-request-icon" class="add-peer-icon-wrapper member-icon-wrapper" {%if member%}action="/peers/invite/{{member.id}}"{%endif%} {%if group_creator%}action="/peers/invite/{{group_creator.id}}"{%endif%} method="POST">   
    <svg class="add-peer-icon-svg member-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:svgjs="http://svgjs.com/svgjs" xmlns:xlink="http://www.w3.org/1999/xlink" width="288" height="288" viewBox="0 0 24 24">
        <circle cx="14" cy="6" r="6" class="color000 svgShape" />
        <path d="M17 14H11a7.008 7.008 0 0 0-7 7v2a1 1 0 0 0 1 1H23a1 1 0 0 0 1-1V21A7.008 7.008 0 0 0 17 14zM4 7A1 1 0 0 0 3 8v2H1a1 1 0 0 0 0 2H3v2a1 1 0 0 0 2 0V12H7a1 1 0 0 0 0-2H5V8A1 1 0 0 0 4 7z" class="color000 svgShape" />
    </svg>
</form>